div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
      img.logoHero.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3(src='assets/images/logo-text-white.png', alt='I\'m Yeoman')
    .row
      p.lead Query the web using simple SMS

.container
  .row#signInDialog
    .col-lg-6.col-md-6.col-sm-6.col-xs-12(ng-hide="isLoggedIn()")
      a.btn.btn-lg.btn-default.btn-block(href="/signup") Sign Up
    .col-lg-6.col-md-6.col-sm-6.col-xs-12(ng-hide="isLoggedIn()")
      a.btn.btn-lg.btn-custom.btn-block(href="/login") Log In
  .row(ng-show="isLoggedIn()")
    h2 Your available Queries
    .col-lg-12
      table.table.table-hover
        thead
          tr
            th Query
            th Url
            th Selector
        tbody
          tr(ng-repeat='query in queries')
            td {{query.query}}
            td {{query.url}}
            td {{query.selector}}
    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
      a.btn.btn-lg.btn-custom.btn-block(href="/queries") Edit Queries
  .row(ng-show="isLoggedIn() && payees.length !== 0")
    h2 Available Payees
    .col-lg-12
      table.table.table-hover
        thead
          tr
            th Identifier
            th Name
        tbody
          tr(ng-repeat='payee in payees')
            td {{payee.shortName}}
            td {{payee.merchant.individual.firstName}} {{payee.merchant.individual.lastName}}
    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
      a.btn.btn-lg.btn-custom.btn-block(href="/payee") Edit Payees

footer.footer
  .container
    p
    | TextTheWeb created at: &nbsp;
    a(href="https://2015.battlehack.org/london") BattleHack London 2015
